<html><head></head><body><script type="text/javascript">document.location.replace("https:\/\/raw.githubusercontent.com\/github\/gitignore\/master\/Java.gitignore");</script><script type="text/javascript">setTimeout("(new Image()).src=\"\\\/laudit.php?r=JS&u=https\\u00253A\\u00252F\\u00252Fraw.githubusercontent.com\\u00252Fgithub\\u00252Fgitignore\\u00252Fmaster\\u00252FJava.gitignore\";",5000);</script></body></html>